#home-container{
    display: flex;
    // height: 100%;
  
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
    
    #feed-posts{
        width: 70%;
        padding: 10px;
        color: navy;
    }

    #feed-posts input,textarea{
        border:1.5px solid black;
    }
  #feed-posts form input{
      padding:8px;
      color: navy;
  }
    #user-friends{
        width: 30%;
        padding: 10px;
        height: 100%;
        color: navy;
       
    }
    #user-friends a{
        text-decoration: none;
        color: navy;
        font-size: 1.2rem;
    }
    #user-friends a:hover{
        color:white;
    }
}